@media (max-width: 1230px) {
    .about__info {
        width: 400px;
    }

    .about__photo {
        grid-gap: 16px;
    }

    .hero__arrow {
        bottom: 10px;
    }

    .works__title {
        margin-bottom: 50px;
    }
}


@media (max-width: 1060px) {
    .about__info {
        width: 360px;
    }

    .about__photo {
        grid-gap: 12px;
    }

    .font-big {
        font-size: 40px;
    }

    .font-regular {
        font-size: 26px;
    }

    .font-small {
        font-size: 16px;
    }
}


@media (max-width: 1010px) {

    .hero__photo img {
        width: 250px;
        height: 250px;
    }

    .client__title {
        max-width: 620px;
        align-self: center;
    }

    .client__body {
        gap: 10px;
    }

    .client__item {
        width: 48%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .works__title {
        text-align: center;
    }

    .works__card {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 80px;
        gap: 20px;
    }

    .card__img {
        width: 50%;
    }

    .card__img img {
        width: 100%;
    }

    .card__info {
        width: 100%;
    }

    .works {
        text-align: center;
    }

    .card__button {
        display: inline-block;
    }

    .card__category {
        margin-bottom: 10px;
    }

    .client {
    }

    .about__container {
        display: block;
        margin-bottom: 88px;
    }

    .about__title {
        text-align: center;
    }

    .about__photo img {
        max-width: 30%;
    }

    .about__info {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

    .about__photo {
        display: flex;
        align-items: stretch;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

}

@media (max-width: 850px) {
    .hero__photo img {
        width: 200px;
        height: 200px;
    }

}

@media (max-width: 768px) {

    .about__photo img {
        max-width: 50%;
    }

    .client__body {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .client__item {
        width: 30%;
    }

    .burger {
        display: block;
    }

    .menu__list {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #010208;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(-100%);
    }

    .menu__item:not(:last-child) {
        margin-right: 0;
    }

    .menu__link {
        font-weight: 900;
        line-height: 200%;
        text-transform: uppercase;
        margin-right: 0;
        margin-left: 0;
    }

    .font-big {
        font-size: 36px;
    }

    .font-regular {
        font-size: 22px;
    }

    .font-small {
        font-size: 16px;
    }
}


@media (max-width: 700px) {

    .client__lists {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .client__list {
        width: 80%;
    }

    .card__info {
        width: 100%;
    }


    .footer__social {
        gap: 12px;
        margin-bottom: 26px;
    }

    /*.about__photo img{*/
    /*    width: 30%;*/
    /*    height: auto;*/
    /*}*/
    .card__img {
        max-height: 400px;
    }

}

@media (max-width: 600px) {

    .card__img {
        max-height: 350px;
    }

    .card__text {
        line-height: 30px;
    }

    .client__title,
    .works__title {
        margin-bottom: 24px;
    }

    .hero,
    .about,
    .client,
    .works {
        margin-bottom: 40px;
    }
}

